* {
  font-family: Verdana, sans-serif;
  color: #404040;
  font-size: 16px;
}

#page-wrapper {
  /*background-color: orange;*/
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:visited {
  color: #595959;
  text-decoration: none;
}

h1 {

}

h2 {

}

p {

}

p.footer-text {
  font-size: 12px;
  color: #999999;
}

ul {

}

li {

}

li a {

}

address {
  font-style: normal;
}
