* {
  font-family: Verdana, Arial, sans-serif;
  color: #404040;
  font-size: 16px;
}

body {
    background-color: #44aa00;
}

#page-wrapper {
  background-color: #ffffff;
  width: 700px;
  margin: 30px auto 30px auto;
  padding: 20px 50px 10px 50px;
  border-radius: 40px;
}

header {
  border-bottom: 2px solid #999999;
  padding: 10px 0px;
  margin-bottom: 10px;
}

section {
  padding: 10px 0px;
}

section p {
  /*this aligns the paragraph text with the text in the lists, this is me cheating*/
  padding-left: 40px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  color: #999999;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  color: #00b359;
  text-decoration: underline;
}

a:visited {
  color: #cc0000;
  text-decoration: none;
}

a:visited:hover {
  color: #00b359;
}

footer {
  border-top: 2px solid #999999;
  margin-top: 20px;
  padding-top: 10px;
}

p.footer-text {
  font-size: 14px;
  color: #cccccc;
  text-align: center;
}

li {
  padding: 0px 0px 10px 0px;
}

#clover {
  width: 300px;
  float: right;
}

/*the following two remove default italicization*/
address {
  font-style: normal;
}

cite {
  font-style: normal;
}
